html    {   
  -webkit-box-sizing: border-box;   
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

h1, h2, h3, p  {
  margin: 0;
}

#wrapper    {
  position: relative;
  width: 100%;
  overflow: hidden;
}

