$main-font: 'Montserrat';
$secondary-font: 'Roboto';
$subtitle-font: 'Kaushan Script';

$font-light: 300;
$font-normal: 400;
$font-bold: 700;

$main-color: #fff;
$title-color: #333333;
$secondary-color: #999999;
$input-color: #e5e5e5;
$bg-color: #95e1d3;
$hover-color: #fce38a;
$icon-color: #f38181;

